extends layout

block content
  img.avatar(alt='avatar', style='display:none;')
  p
    | Welcome 
    span.nickname  
  button.btn-login(type='submit') Sign In
  button.btn-logout(type='submit', style='display:none;') Sign Out
  a(href='/shop', style='display:none;') Go to shop
  script.
    initIndex();
